* {
    font-size: 100%;
}
div.app_game, div#setting_songInfo {
    display: none;
}
body {
    background-color: white;
}
.match_parent_width {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}
.match_parent_width_force {
    width: 100%;
}
#status_text {
    padding-left: 10px;
}
.status_text_holder {
    border-radius: 5px;
}
div.vspace_3 {
    height: 3px;
    width: 100%;
}
#main_progress_holder {
    opacity: 0;
}
#preference, #info_panel {
    background-color: white;
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    width: auto;
    height: auto;
    overflow-y: scroll;
    display: none;
}
#preference {
    z-index: 20;
}
#info_panel {
    z-index: 21;
}
.decrease_button, .increase_button {
    font-size: 180%;
}
div.setting_songInfo {
    overflow: scroll;
}
div#setting_panel {
    width:50%;
    border-right: 1px solid black;
    overflow-y: scroll;
}
div.setting{
    display: inline-block;
    width:49%;
    height: calc(100vh - 64px);
    vertical-align: top;
}
div.ss_container div.ss_title {
    text-align: center;
}
div.ss_container div.ss_list_parent {
    width: 100%;
    overflow-y: scroll;
}
div.ss_container div.ss_list_parent div#songlist_dl,
div.ss_container div.ss_list_parent div#songlist_history,
div.ss_container div.ss_list_parent div#songlist_favorite {
    display: none;
}